/* Reset */
body {
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    background: #cecece;
}

.logo {
    background-image: url("./img/clipart18626.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hamb {
    z-index: 10;
    position: absolute;
    top: 28px;
    right: 40px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: grabbing;
    background-color: transparent;
    background-size: 100%;
}

.bar {
    margin: 0 auto 12px;
    width: 40px;
    height: 4px;
    border-radius: 25px;
    background: #ffc30c;
    transition: all 300ms ease-in-out;
    transform-origin: -2.6px 3px;
  }


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(36, 36, 36);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.logo-on {
    background-image: url("./img/clipart18626.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.showNav {
    transform: translateX(0);
}


.hideNav .bar:first-child {
    transform: rotate(45deg);
}

.hideNav .bar:last-child {
    transform: rotate(-45deg);
}

.hideNav .bar:nth-child(2) {
    opacity: 0;
}


ul {
    position: absolute;
    top: 35%;
    list-style: none;
    margin-left: 16px;
}

li {
    padding: 18px;
    font-size: 22px;
}

a {
    color: #ffd530;
    text-decoration: none;
}